/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
select {
  background-color: white;
  cursor: pointer;
  text-transform: none;
  word-wrap: none;
}
select option:checked {
  background-color: #eaeaea;
}
button {
  cursor: pointer;
  border: none;
}
#root,
#__next {
  isolation: isolate;
}
body {
  margin: 0;
  background-color: #eaeaea;
  font-family: "Manrope", serif;
}
